# Python cache files
__pycache__/
*.py[cod]

# Python virtual environments
.venv/
venv/
env/

# GNU Radio generated/cache files
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Editor/IDE files
.vscode/
.idea/

# Temporary and backup files
*.tmp
*.temp
*.bak
*~
# Quarto generated/cache files
/.quarto/
/_book/
**/*.quarto_ipynb